In [108]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from tqdm import tqdm

In [146]:
url = 'https://www.indiatoday.in/cities/delhi/story/delhi-police-special-cell-350-kg-heroin-2500-crore-arrested-1826382-2021-07-10'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'lxml')
article = soup.find('article')

In [147]:
a = article.find('div', class_="node node-story view-mode-full")
b = a.find('div', class_="story-left-section story-update")
c = b.find('div', class_="story-header-wrapper")
d = c.find('div', class_="byline")

In [148]:
section = d.find('div', class_="profile-detail")
section.find_all('meta')[0]['content']

'Cities'

In [153]:
name = section.find("dl", class_="profile-byline").span.dt.a['title']

'Tanseem Haider'

In [113]:
author_link_1 = d.find('div', class_="profile-pic").a
author_link_2 = "https://indiatoday.in" + author_link_1['href']
author_link_2

'https://indiatoday.in/author/tanseemhaider'

In [114]:
response = requests.get(author_link_2)
soup = BeautifulSoup(response.content, 'lxml')
body = soup.find('body')

In [115]:
a = body.find('div', class_ = "anchor-left")
b = a.find('div', class_="anchauth-details")

In [116]:
b.find('div', class_="anchauth-designation").text

'Deputy Editor'

In [119]:
b.h2.text

'Tanseem Haider'

In [12]:
b.find('div', class_ = "anchauth-email").text

'tanseem.haider@aajtak.com'

In [24]:
j = body.find('div', class_ = "anchor-right")
k = j.find('div', class_="people-social-icon")
k.ul.find_all("a")

[<a class="icon-pointer fbicon" href="Tanseem Haider" target="_blank" title="share on facebook"><i class="fa fa-facebook"></i></a>,
 <a class="icon-pointer twicon" href="https://twitter.com/TanseemHaider" target="_blank"><i class="fa fa-twitter"></i></a>,
 <a class="icon-pointer insticon" href="haidertanseem" target="_blank"><i class="fa fa-instagram"></i></a>]

In [25]:
for x in k.ul.find_all("a"):
    if 'fbicon' in x['class']:
        facebook_link = x['href']
        break
    else:
        facebook_link = ""

In [26]:
for x in k.ul.find_all("a"):
    if 'twicon' in x['class']:
        twitter_link = x['href']
        break
    else:
        twitter_link = ""

In [27]:
for x in k.ul.find_all("a"):
    if 'insticon' in x['class']:
        instagram_link = x['href']
        break
    else:
        instagram_link = ""

In [30]:
instagram_link

'haidertanseem'

In [14]:
l = j.find('div', class_="less-content")
l.text

''

In [163]:
import pandas as pd
indiatoday_1 = pd.read_excel("indiatoday_1.xlsx")
indiatoday_2 = pd.read_excel("indiatoday_2.xlsx")
indiatoday = pd.concat([indiatoday_1, indiatoday_2])
indiatoday

,Unnamed: 0,url,domain,headline,body,lang,source,publication,influencer_name,influencer_id,date,quarter,month,year,keyword
0,0,indiatoday.in/movies/celebrities/story/anushka...,indiatoday.in,Anushka Sharma's sister-in-law slams reports o...,"UPDATED: June 15, 2021 15:22 IST Virat Kohli's...",en,webhose,India Today,Tanushree Roy,NaN,2021-06-15,2,6,2021,"""the"", ""is"", ""a"""
1,1,indiatoday.in/business/story/sensex-nifty-leap...,indiatoday.in,"Sensex, Nifty leap to new highs as Asian peers...","UPDATED: June 15, 2021 18:05 IST (Photo Credit...",en,webhose,India Today,Press Trust Of India,100589.0,2021-06-15,2,6,2021,"""the"", ""is"", ""a"""
2,2,indiatoday.in/movies/celebrities/story/aamir-k...,indiatoday.in,Aamir Khan recalls how ex-wife Reena Dutta lea...,"UPDATED: June 15, 2021 15:23 IST Aamir Khan re...",en,webhose,India Today,Samriddhi Srivastava,NaN,2021-06-15,2,6,2021,"""the"", ""is"", ""a"""
3,3,indiatoday.in/fact-check/story/fact-check-slee...,indiatoday.in,Fact Check: You can sleep through this viral c...,"June 15, 2021 UPDATED: June 15, 2021 18:41 IST...",en,webhose,India Today,Chayan Kundu,7446.0,2021-06-15,2,6,2021,"""the"", ""is"", ""a"""
4,4,indiatoday.in/india/story/mha-led-team-busts-f...,indiatoday.in,MHA-led team busts fraud-to-phone racket runni...,"During the operation, over 300 new mobile phon...",en,webhose,India Today,Kamaljit Kaur Sandhu,7626.0,2021-06-15,2,6,2021,"""the"", ""is"", ""a"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4293,4293,indiatoday.in/movies/regional-cinema/story/tri...,indiatoday.in,"Trisha shows off her new haircut, asks 'how u ...","On Tuesday (June 15), Trisha took to Instagram...",en,webhose,India Today,Ramya Palisetty,NaN,2021-06-16,2,6,2021,"""the"", ""is"", ""a"""
4294,4294,indiatoday.in/cities/delhi/story/22-year-old-b...,indiatoday.in,"22-year-old beats, robs woman of her mobile ph...","June 16, 2021 UPDATED: June 16, 2021 12:23 IST...",en,webhose,India Today,Tanseem Haider,129.0,2021-06-16,2,6,2021,"""the"", ""is"", ""a"""
4295,4295,indiatoday.in/india/story/loni-fir-twitter-nev...,indiatoday.in,Loni FIR: Twitter’s never-ending brush with In...,"June 16, 2021 UPDATED: June 16, 2021 13:09 IST...",en,webhose,India Today,Prabhash K Dutta,7621.0,2021-06-16,2,6,2021,"""the"", ""is"", ""a"""
4296,4296,indiatoday.in/india/video/pinjda-tod-activists...,indiatoday.in,Pinjda Tod activists’ release delayed | IndiaT...,A day after being granted bail by the Delhi Hi...,en,webhose,India Today,NaN,NaN,2021-06-16,2,6,2021,"""the"", ""is"", ""a"""
4297,4297,indiatoday.in/india/story/italian-marines-case...,indiatoday.in,SC closes case against Italian marines who kil...,The Supreme Court on Tuesday brought the curta...,en,webhose,India Today,Press Trust Of India,100589.0,2021-06-16,2,6,2021,"""the"", ""is"", ""a"""

In [164]:
url_list = list(indiatoday['url'])
# influencer_name_list = list(indiatoday['influencer_name'])
influencer_id_list = list(indiatoday['influencer_id'])

In [175]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from tqdm import tqdm

all_author_links = []
all_author_designation = []
all_mail_id = []
all_twitter_link = []
all_facebook_link = []
all_author_bio = []
all_section = []
all_instagram_link = []
all_influencer_name = []
all_influencer_id = []
all_names = []

for m,n in tqdm(zip(url_list, influencer_id_list), total=len(url_list)):

    time.sleep(0.2)

    url = 'https://' + m

    try:
        response = requests.get(url)
    except (requests.exceptions.MissingSchema, requests.exceptions.ConnectionError):
        continue

    soup = BeautifulSoup(response.content, 'lxml')
    article = soup.find('article')
    try:
        a = article.find('div', class_="node node-story view-mode-full")
        b = a.find('div', class_="story-left-section story-update")
        c = b.find('div', class_="story-header-wrapper")
        d = c.find('div', class_="byline")
        author_link_1 = d.find('div', class_="profile-pic").a
        author_link_2 = "https://indiatoday.in" + author_link_1['href']        
    except:
        continue

    # all_influencer_name.append(n)
    all_influencer_id.append(n)

    section_1 = d.find('div', class_="profile-detail")
    section_2 = section_1.find_all('meta')[0]['content']
    all_section.append(section_2)

    name = section_1.find("dl", class_="profile-byline").span.dt.a['title']
    all_names.append(name)



    if author_link_2 not in all_author_links:

        all_author_links.append(author_link_2)

        response = requests.get(author_link_2)
        soup = BeautifulSoup(response.content, 'lxml')
        body = soup.find('body')

        e = body.find('div', class_ = "anchor-left")
        f = e.find('div', class_="anchauth-details")

        # try:
        # name = f.h2.text
    # except:
        # name = ""

        # all_names.append(name)

        try:
            designation = f.find('div', class_="anchauth-designation").text
        except:
            designation = ""

        all_author_designation.append(designation)

        try:
            email_id = f.find('div', class_ = "anchauth-email").text
        except:
            email_id = ""
        
        all_mail_id.append(email_id)


        j = body.find('div', class_ = "anchor-right")
        # print(j)
        k = j.find('div', class_="people-social-icon")
        # print(author_link_2)
        if k != None:
                
            for x in k.ul.find_all("a"):
                if 'fbicon' in x['class']:
                    facebook_link = x['href']
                    break
                else:
                    facebook_link = ""
            
            all_facebook_link.append(facebook_link)

            for x in k.ul.find_all("a"):
                if 'twicon' in x['class']:
                    twitter_link = x['href']
                    break
                else:
                    twitter_link = ""

            all_twitter_link.append(twitter_link)

            for x in k.ul.find_all("a"):
                if 'insticon' in x['class']:
                    instagram_link = x['href']
                    break
                else:
                    instagram_link = ""

            all_instagram_link.append(instagram_link)
        
        else:
            all_facebook_link.append("")
            all_twitter_link.append("")
            all_instagram_link.append("")


        author_bio_1 = j.find('div', class_="less-content")
        author_bio_2 = author_bio_1.text

        all_author_bio.append(author_bio_2)

    else:

        all_author_links.append("")
        all_author_designation.append("")
        all_mail_id.append("")
        all_twitter_link.append("")
        # all_linkedid_link.append("")
        all_facebook_link.append("")
        all_instagram_link.append("")
        all_author_bio.append("")   
        # all_names.append("")

100%|██████████| 8738/8738 [2:43:55<00:00,  1.13s/it]

In [51]:
# print(section_2)
# print(author_link_2)
# print(designation)
# print(email_id)
# print(facebook_link)
# print(twitter_link)
# print(instagram_link)
# print(author_bio_2)

In [138]:
# df

In [176]:
df = pd.DataFrame({'author_link' : all_author_links, 'influencer_name': all_names, 'influencer_id': all_influencer_id,  'designation' : all_author_designation, 'mail_id' : all_mail_id, 'twitter_link' : all_twitter_link, 'facebook_link' : all_facebook_link, 'instagram_link' : all_instagram_link, 'section' : all_section, 'author_bio' : all_author_bio})

# df

In [177]:
df[df['influencer_name'].isna() == True]

Empty DataFrame
Columns: [author_link, influencer_name, influencer_id, designation, mail_id, twitter_link, facebook_link, instagram_link, section, author_bio]
Index: []

In [178]:
from collections import Counter

df_drop_duplicates = df.drop_duplicates().reset_index(drop = True)
journo_info = df_drop_duplicates.groupby(["influencer_name", "influencer_id"], dropna=False)["section"].apply(list).reset_index()
journo_info['section_count'] = journo_info['section'].apply(lambda x: dict(Counter(x)))
journo_info['section'] = journo_info['section'].apply(lambda x: list(set(x)))
journo_info['total_articles'] = journo_info['section_count'].apply(lambda x: sum(list(x.values())))
journo_info

,influencer_name,influencer_id,section,section_count,total_articles
0,Aakash Sharma,NaN,[Cities],{'Cities': 1},1
1,Aavish Kant,NaN,[Coronavirus Outbreak],{'Coronavirus Outbreak': 1},1
2,Abhik Das,NaN,[Auto],{'Auto': 2},2
3,Abhishek Anand,725.0,"[Cities, India, Coronavirus Outbreak]","{'India': 1, 'Cities': 1, 'Coronavirus Outbrea...",3
4,Abhishek Anand,NaN,"[India, Cities]","{'Cities': 2, 'India': 1}",3
...,...,...,...,...,...
285,Vidya,100589.0,[Coronavirus Outbreak],{'Coronavirus Outbreak': 1},1
286,Vidya,NaN,[Law],{'Law': 1},1
287,Vivek Rajagopal,NaN,"[Crime, India]","{'Crime': 1, 'India': 1}",2
288,Yasmin Ahmed,144813.0,[Technology],{'Technology': 1},1
289,Yasmin Ahmed,NaN,[Technology],{'Technology': 2},2

In [179]:
df_2 = pd.merge(df_drop_duplicates[['author_link', 'influencer_name', 'influencer_id', 'designation', 'mail_id', 'twitter_link', 'facebook_link', 'instagram_link', 'author_bio']], journo_info, on = ['influencer_name', 'influencer_id'], how = 'left')

In [180]:
final_df = df_2[df_2['author_link'] != ""].reset_index(drop = True)
final_df

,author_link,influencer_name,influencer_id,designation,mail_id,twitter_link,facebook_link,instagram_link,author_bio,section,section_count,total_articles
0,https://indiatoday.in/author/tanushree-roy,Tanushree Roy,NaN,Senior Sub-editor,Tanushree.Roy@aajtak.com,https://twitter.com/tanushree_roy21,,,"There is nothing called too much coffee, books...","[Trending News, Lifestyle, Television, Movies,...","{'Movies': 2, 'Television': 1, 'Trending News'...",6
1,https://indiatoday.in/author/pti,Press Trust of India,100589.0,,pti@intoday.com,https://twitter.com/PTI_News,,,,"[Top Stories, World, Lifestyle, Education Toda...","{'Business': 2, 'Coronavirus Outbreak': 1, 'Cr...",14
2,https://indiatoday.in/author/samriddhi-srivastava,Samriddhi Srivastava,NaN,Senior Sub-editor,Samriddhi.Srivastava@aajtak.com,https://twitter.com/sam__riddhi,,,"An ardent fan of the entertainment business, S...","[Movies, Television, Lifestyle, Trending News]","{'Movies': 2, 'Television': 1, 'Lifestyle': 1,...",5
3,https://indiatoday.in/author/chayan-kundu,Chayan Kundu,7446.0,Associate Editor- Fact Check,Chayan.Kundu@aajtak.com,https://twitter.com/https://twitter.com/KunduC...,,,Chayan Kundu is a senior journalist with the I...,[Fact Check],{'Fact Check': 2},2
4,https://indiatoday.in/author/kamaljit-kaursandhu,Kamaljit Kaur Sandhu,7626.0,,kamaljit.sandhu@aajtak.com,https://twitter.com/kamaljitsandhu,,,Kamaljit Sandhu is an award winning journalist...,"[India, Coronavirus Outbreak]","{'India': 2, 'Coronavirus Outbreak': 1}",3
...,...,...,...,...,...,...,...,...,...,...,...,...
162,https://indiatoday.in/author/roshni-chakrabarty,Roshni Chakrabarty,100428.0,Copy Editor,roshni.intoday@gmail.com,https://twitter.com/roshnism,https://www.facebook.com/lightprincess.roshni,,Roshni loves writing about student innovations...,[Education Today],{'Education Today': 1},1
163,https://indiatoday.in/author/sujeet-jha,Sujeet Jha,113932.0,,sujeet.jha@aajtak.com,https://twitter.com/sujjha,,,Sujeet Kumar Jha has been working in Aaj Tak s...,[India],{'India': 1},1
164,https://indiatoday.in/author/nayanika-sengupta,Nayanika Sengupta,100582.0,,nayanika.sengupta@aajtak.com,https://twitter.com/https://twitter.com/nayani...,,www.instagram.com/nayanika4321/,"A Bong living out of Bengal, a home baker turn...",[Coronavirus Outbreak],{'Coronavirus Outbreak': 1},1
165,https://indiatoday.in/author/piya-hingorani,Piya Hingorani,NaN,,piya.hingorani@aajtak.com,https://twitter.com/PiyaHingorani,,,,[Movies],{'Movies': 1},1
166,https://indiatoday.in/author/karan-yadav,Karan Yadav,100582.0,Content writer,karan.yadav@aajtak.com,,,,,[Education Today],{'Education Today': 1},1

In [181]:
final_df.to_excel("indiatoday_journalists.xlsx", index = False)

In [89]:
#